body {
	margin: 0;
	padding: 0;
}

#map {
	width: 100%;
}

.markerRed {
	background-image: url('./../images/red.png');
	background-size: cover;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
}

.markerGreen {
	background-image: url('./../images/green.png');
	background-size: cover;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
}

.mapboxgl-popup {
	max-width: 150px;
}

.mapboxgl-popup-content {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}