<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd 
       http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-4.3.xsd 
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd 
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
    <context:property-placeholder
            location="classpath*:maven.properties,classpath*:opensrp.properties"/>

    <import resource="classpath:applicationContext-opensrp.xml"/>
	<import resource="classpath:applicationContext-connector.xml"/>

    <bean class="org.opensrp.web.config.SwaggerConfig"/>

    <alias name="${multimedia.file.manager}" alias="multimedia.file.manager"/>

    <beans profile="chw_referral_module">
        <import resource="classpath:applicationContext-opensrp-referral.xml"/>
    </beans>
    
    <beans profile="dhis2-sync,rapidpro">
    	 <import resource="couchDbContext.xml"/>
    </beans>
</beans>
