<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.opensrp.repository.postgres.mapper.custom.CustomClientMapper">

	<resultMap id="customQueryMap" type="org.opensrp.domain.postgres.CustomQuery">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name"/>
		<result column="uuid" jdbcType="VARCHAR" property="uuid"/>
		<result column="max_health_id" jdbcType="BIGINT" property="maxHealthId"/>
		<result column="is_available" jdbcType="BOOLEAN" property="isAvailable"/>
	</resultMap>

	<resultMap id="customQueryLocationTreeMap" type="org.opensrp.domain.postgres.CustomQuery">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="leaf_loc_id" jdbcType="BIGINT" property="leafLocationId"/>
		<result column="member_id" jdbcType="BIGINT" property="memberId"/>
		<result column="first_name" jdbcType="VARCHAR" property="firstName"/>
		<result column="last_name" jdbcType="VARCHAR" property="lastName"/>
		<result column="loc_tag_name" jdbcType="VARCHAR" property="locationTagName"/>
	</resultMap>

	<insert id="insertSelectiveAndSetId" parameterType="org.opensrp.domain.postgres.Client"
			useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into core.client
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="json != null">
				json,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="json != null">
				#{json,jdbcType=OTHER,typeHandler=org.opensrp.repository.postgres.handler.ClientTypeHandler},
			</if>
		</trim>
	</insert>


	<select id="selectByDocumentId" 
			resultMap="org.opensrp.repository.postgres.mapper.ClientMapper.BaseResultMap">
		select
		<include refid="org.opensrp.repository.postgres.mapper.ClientMapper.Base_Column_List" />
		from core.client{table}
		WHERE json ->> 'id' = #{documentId,jdbcType=VARCHAR} and date_deleted is null
	</select>


	<select id="selectByIdentifier"
			resultMap="org.opensrp.repository.postgres.mapper.ClientMapper.BaseResultMap">
		select
		<include refid="org.opensrp.repository.postgres.mapper.ClientMapper.Base_Column_List" />
		from core.client{table}
		join jsonb_each_text(core.client.json -> 'identifiers') j on true
		where j.value = #{identifier,jdbcType=VARCHAR} and date_deleted is null
	</select>


	<select id="selectByIdentifierOfType"
			resultMap="org.opensrp.repository.postgres.mapper.ClientMapper.BaseResultMap">
		select
		<include refid="org.opensrp.repository.postgres.mapper.ClientMapper.Base_Column_List" />
		from core.client{table}
		where json -> 'identifiers' ->> #{identifierType,jdbcType=VARCHAR} = #{identifier,jdbcType=VARCHAR}
		and date_deleted is null
	</select>


	<select id="selectByAttributeOfType" 
			resultMap="org.opensrp.repository.postgres.mapper.ClientMapper.BaseResultMap">
		select
		<include refid="org.opensrp.repository.postgres.mapper.ClientMapper.Base_Column_List" />
		from core.client{table}
		where json -> 'attributes' ->> #{attributeType,jdbcType=VARCHAR} = #{attribute,jdbcType=VARCHAR}
		and date_deleted is null
	</select>


	<select id="selectByRelationshipIdAndDateCreated"
			resultMap="org.opensrp.repository.postgres.mapper.ClientMapper.BaseResultMap">
		select
		<include refid="org.opensrp.repository.postgres.mapper.ClientMapper.Base_Column_List" />
		from core.client{table}
		join jsonb_each(json -> 'relationships') j on true
		where j.value  ?? #{relationalId,jdbcType=VARCHAR}  and date_deleted is null
		and (json ->> 'dateCreated')::date between #{dateFrom,jdbcType=DATE} and #{dateTo,jdbcType=DATE}
	</select>

	<select id="getClientByUpazila" parameterType="java.lang.String"
			resultMap="org.opensrp.repository.postgres.mapper.ClientMapper.BaseResultMap">
		select * from core.client{table}
		where json->'addresses'->0->'addressFields'->>'cityVillage' = #{name}
	</select>

	<select id="getTeamInfo" parameterType="java.lang.String"
			resultMap="customQueryMap">
		select t.name as name, t.uuid as uuid from core.users u join core.team_member tm on u.id = tm.person_id
		join core.team t on t.id = tm.team_id where u.username = #{username};
	</select>

	<select id="getProviderLocationTreeByChildRole" parameterType="map"
			resultMap="customQueryLocationTreeMap">
		select * from core.get_location_tree(#{memberId}, #{childRoleId});
	</select>

	<select id="getVillageByProviderId" parameterType="map"
			resultMap="customQueryMap">
		select * from core.get_location_tree_id(#{memberId}, #{childRoleId}, #{locationTagId});
	</select>

	<select id="getProviderLocationIdByChildRole" parameterType="map"
			resultMap="customQueryLocationTreeMap">
		select * from core.get_location_tree_id(#{memberId}, #{childRoleId}, #{locationTagId});
	</select>

	<select id="selectByRelationshipIdOfType" parameterType="map"
			resultMap="org.opensrp.repository.postgres.mapper.ClientMapper.BaseResultMap">
		select
		<include refid="org.opensrp.repository.postgres.mapper.ClientMapper.Base_Column_List" />
		from core.client{table}
		where json -> 'relationships'->#{relationshipType,jdbcType=VARCHAR} ?? #{relationshipId,jdbcType=VARCHAR}
		and date_deleted is null
	</select>


	<select id="selectByRelationShip" 
			resultMap="org.opensrp.repository.postgres.mapper.ClientMapper.BaseResultMap">
		select
		<include refid="org.opensrp.repository.postgres.mapper.ClientMapper.Base_Column_List" />
		from core.client{table}
		join jsonb_each(json -> 'relationships') j on true
		where j.value ??  #{relationshipId,jdbcType=VARCHAR}  and date_deleted is null
	</select>
	
	<select id="selectUserStatus" parameterType="java.lang.String"
			resultMap="customQueryMap">
		select u.enabled as enable from core.users as u where u.username =  #{username,jdbcType=VARCHAR}
	</select>

	<select id="findUserId" parameterType="java.lang.String"
			resultMap="customQueryMap">
		select u.id as id from core.users as u where u.username =  #{username,jdbcType=VARCHAR}
	</select>

	<select id="getMaxHealthId" parameterType="java.lang.Integer"
			resultMap="customQueryMap">
		select coalesce(max(cast(h_id as integer)), 0) as  max_health_id from core.health_id where location_id = #{locationId};
	</select>
	<update id="updateAppVersion" parameterType="map">
    	update core.users set app_version = #{version} where username = #{username}    
    </update>

	<select id="getDistrictAndUpazila" parameterType="java.lang.Integer"
			resultMap="customQueryMap">
		select district as name, upazilas as code from core.get_district_and_upazila(#{locationTag})
	</select>

	<select id="imeiCheck" parameterType="java.lang.String" resultMap="customQueryMap">
		select
			(case when count(*) > 0 then true else false end) is_available
		from
		 	core.imei where imei1 = #{imeiNumber} or imei2 = #{imeiNumber};
	</select>

</mapper>
